<fieldset id="someone-else-details-fieldset" class="govuk-radios__conditional" aria-hidden="false">
    <h2 class="govuk-heading-m">{{#t}}pages.someone-else.someone-else-details-header{{/t}}</h2>
    <p>{{#t}}pages.someone-else.someone-else-details-intro{{/t}}</p>

    {{#input-text}}someone-else-name{{/input-text}}
    {{#input-text}}someone-else-email{{/input-text}}
    
    {{#radio-group}}someone-else-type{{/radio-group}}
    <p>{{#t}}pages.someone-else.someone-else-details-consent{{/t}}</p>
</fieldset>
